body {
	font-family: 'Slabo 27px', serif;
}

#routes {
	text-align: center;
}

#mealDetails, #custCharges, #earnInfo, #info {
	border-style: solid;
	border-width: thin;
	padding-left: 10em;
	padding-right: 10em;
	margin-left: 15em;
	margin-right: 15em;
	text-align: center;
}

.boxTitle {
	border-bottom: solid;
	text-align: center;
}

h1 {
	text-align: center;
}

#reset {
	margin-left: 49em;
}